include mixins/mixins.jade

doctype html
html
  head
    title World Travel Database
    +favicons
  body
    include head.jade
    style
      include style.css
    
    //- Modals
    +imageuploadmodal()
    +addlogmodal()
    
    if !unauthorized
      +travel(log, readonly)
    else
      h2 You are not authorized to view this
    
    include footer.html
    script(src='/js/index.js')